#pageContent {
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    margin: 0;
    padding: 0;
    /* text-decoration: none; */
    /* text-decoration: none; */

    li {
            list-style-type: none;
            margin: 0;
            padding: 0;

    }
}


/* <!-- header Start --> */
header {
    background-color: grey;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
   
header ul {
    background-color: white;
    height: 50%;
    /* width: 200px; */
    box-sizing: border-box;
    border: 2px solid black;
}


#logoContainer {
    background-color: red;
    height: 100%;
    width: 10%;
}
#searchBarContainer {
    background-color: green;
    width: 90%;
}
#menuContainer {
    background-color: yellow;
    width: 90%;

}

/* <!-- header End --> */











/* <!-- main Start --> */
main {
    background-color: blue;
    height: 900px;
    width: 100%;
}
  
/* <!-- main End --> */










    
/* <!-- footer Start --> */
footer {
    background-color: grey;
    height: 200px;
    width: 100%;
}
/* <!-- footer End --> */




/* Screen sizes greater than 1000px height will not have scrolling (display all elements) on the screen */
@media (min-height: 1000px) {
    header {
        height: 20%;
    }

    main {
        height: 80%;
    }

    header {
        height: 20%;
    }
}