body {
    /* margin: 0; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Contains all web page elements*/
#pageContent {
    background-color: grey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

/* -----Removes ul/li Default settings---- */
ul {
    margin: 0;
    padding: 0;
 

    li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
        a {
            text-decoration: none;
            color: white;
        }
    }
}


/* <!-- Header Start --> */
/* I removed align-items center, due to removing logocontainer width. It affects the spacing between it's siblings  */
header {
    background-color: red;
    height: 200px;
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: 5px solid rgb(255, 200, 0);
    /* box-sizing: border-box; */
    /* align-items: center; */
    
}
/* I removed width becuase flex wrap added too much space between it's siblings, when the page is maginified. It will fit the content if I don't state the width */
#logoContainer {
    background-color: orchid;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* max-width: 250px; */
    
    img {
        width: 90%;
        max-width: 200px;
        max-height: 200px;
        
        
    }
}

#searchContainer {
    background-color: green;
    height: 30%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Input text box - height does not change due to rem */
#searchContainer #search {
    /* height: 50%; */
    font-size: 1.5rem;
    width: 50%;
}

#searchContainer button {
    font-size: 1.5rem;
}

#menuContainer {
    background-color: orange;
    height: 70%;
    width: 80%;
    display: flex;
    font-size: 2em;
}

#menu {
    background-color: slateblue;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* <!-- Header End --> */






/* <!-- Main Start --> */
main {
    background-color: rosybrown;
    height: 800px;
    width: 100%;
    flex-grow: 2;
}
/* <!-- Main End --> */




/* <!-- Footer Start --> */
footer {
    background-color: blue;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.75em;

}

footer #navLinks {
    background-color: red;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer #navLinks li {
    background-color: red;
    /* height: 100%; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* <!-- Footer End --> */







/* The maximum it can be 500px for the below to be active  */
@media (max-width: 500px){

    header {
        flex-direction: row;
    }
    
    #logoContainer {
        height: 60%;
        width: 20%;
       
    }

    #menuContainer {
        height: 40%;
        width: 100%;
    
    }

    #searchContainer {
        height: 60%;
        width: 80%;
    }
    /* page content div font size is set to 1em, and all other will use various em sizes, as they adjust based on the parennt element. This is to make only 1 change to reduce the font size as they are all relative to the parent element. */
    #pageContent {
        font-size: 0.5em;
    }

    footer #navLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}

@media (max-width: 650px){
        #pageContent {
        font-size: 0.75em;
    }
}

/* @media (max-width: 1050px){
    
    #logoContainer img {
        width: 60%;
    }
} */