/* ============== MAIN START ================= */

/**********************************************************
* NOTE: 
 **********************************************************/
main {
    background-color: white;
    height: 900000px;
    width: 100%;
    display: flex;
    align-items: center;
}

/**********************************************************
* 
 **********************************************************/
#productPanel {
    background-color: transparent;
    height: 90000000000px;
    width: 80%;
}
/* ============== MAIN END ================= */